/* Every css here is global */

.Content {
    margin: 1em;
}

body {
    background-color: #191919;
    color: #ECDBBA;
}

a {
    color: #C84B31;
}

ul {
    list-style: none;
    padding: 1em;
}

input {
    width: 10%;
}

nav {
    display: flex; /* 1 */
    justify-content: space-between; /* 2 */
}

nav ul {
    display: flex; /* 5 */
    list-style: none; /* 6 */
}

nav li {
    padding-left: 1rem; /* 7! */
}

nav a {
    text-decoration: none;
}
